
@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


.wrapper{
    /* background: rgba(25, 25, 255, 0.752); */
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

/* Hero section starts here */
.hero-section{
    height: 100vh;
    width: 100vw;
    background-image: url("hero2-bg.jpg");
    border: 0px ;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    

}

.hero-section .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.671);
    z-index: -1;
    backdrop-filter: blur(1px); /* blur background */



}

.navbar{
    display: flex;
    height: 8%;
    align-items: center;
    justify-content: left;
    padding-top: 5px;
    
}

.navbar .logo{
    width: 30%;
    padding-left: 40px;
    color: white;
    font-size: 21px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    word-spacing: 0px;
    
}



.navbar .nav-items{
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: end;
    padding-right: 60px;
}

.nav-items li{
    margin-left: 40px;
    list-style-type: none;
}

.nav-items li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-style: normal;
    font-family: "DM Sans", sans-serif;
    font-weight: 350;
    font-style: normal;
    word-spacing: 0px;
    font-size: 15px;
    padding: 4px 12px 4px 12px;
    border-radius: 12px;
}

.hero-section .container{
    width: 60%;
    height: 90%;
    margin-left: 20%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.container h1{
    text-align: center;
    font-size: 70px;
    padding:5px;
    margin: 5px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
    word-spacing: -2px;
    font-size: 80px;
}

.container .circle {
    border-radius: 100%;
    height: 170px;
    width: 170px;
    background: white;
    margin: 10px;
    background-image: url("GS-logo.png");
    background-size: cover;
    box-shadow:  0 0 55px rgba(3, 157, 246, 0.385);
    transition: all 1s ease;

    animation: move;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 0.2s;
    animation-direction: alternate-reverse;


}

@keyframes move {
    0%{
        box-shadow:  0 0 55px rgba(3, 157, 246, 0.385);

    }

    25%{
        box-shadow:  0 0 65px rgba(3, 157, 246, 0.457);

    }

    50%{
        box-shadow:  0 0 75px rgba(3, 157, 246, 0.532);

    }
    75%{
        box-shadow:  0 0 85px rgba(3, 157, 246, 0.663);

    }
    100%{
        box-shadow:  0 0 95px rgba(3, 157, 246, 0.813);
    }
}


.container .circle:hover{
    transform: rotate(360deg) scale(1.1);
}


.container .info{
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin-top: 10px;
    font-style: normal;
    word-spacing: 0px;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;

}

.container .bt-box{
    margin-top: 20px;
    display: flex;
    gap: 8px;
}

.container .bt-box button{
    height: 40px;
    width: 200px;
    background: linear-gradient(135deg,#124fde,#a75af9);
    color: white;
    font-weight: 500;
    font-style: normal;
    word-spacing: 0px;
    font-size: 16px;
    border-radius: 7px;
    border: 0px;
    font-family: "Poppins", sans-serif;
    box-shadow:  0 0 25px rgba(19, 3, 246, 0.5);
   
    

}

.container .bt-box .view_project{
        transition: all 0.6s ease-in-out;

}
.container .bt-box .hire_me{
        transition: all 0.6s ease-in-out;

}

.container .bt-box .view_project:hover{
        background: linear-gradient(155deg,#124fde,#4c039a);
        transform: scale(1.03);

}

.container .bt-box .hire_me:hover{
        background: linear-gradient(155deg,#124fde,#4c039a);
        transform: scale(1.03);

}

.container .bt-box2{
    height: 8%;
    width: 40%;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}



.fa-linkedin{
  font-size: 30px; 
  color: #1a7dff;  
}
.fa-github{
  font-size: 30px; 
  color:#1a7dff;  
}
.fa-envelope{
  font-size: 30px; 
  color: #1a7dff;  
}



/* About me section starts here */
.about-me-section{
    height: 100vh;
    width: 100vw;
    background-color: #060725;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

.about-me-section .header{
    height: 20%;
    width: 100%;
    text-align: center;
    
}

.about-me-section .header h1{
    font-size: 70px;
    font-family: "Poppins", sans-serif;
    color: white;
    padding-top: 2%;
}

.about-me-section .header h3{
   
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: white;
    
}


.about-me-section .header h1 .me{
    background: linear-gradient(45deg,#124fde,#a75af9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-me-section .about-me-content{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: white;
    width: 80%;
    margin-top: 2%;
}

.about-me-section .about-me-content .about_me{
    text-align: justify;
    line-height: 25px;
    font-size: 17px;
    font-family: "DM Sans", sans-serif;
    

}

.about-me-section .tech-stack{
    width: 80%;
    height: 50%;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;
}

.about-me-section .tech-stack .box{
    width: 23%;
    height: 80%;
    border: 1px solid rgba(51, 153, 255, 0.472);
    background-color: #131e35;
    border-radius: 15px;
    transition: all 0.4s ease-in-out;
    padding: 2%;
}

.about-me-section .tech-stack .box:hover{
    transform: scale(1.05);
}

.about-me-section .tech-stack .box .box-title{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: white;
    font-size: 16px;
    margin: 15px 0px 5px 0px;
}


.about-me-section .tech-stack .box .box-logo{
    height: 45px;
    width: 45px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;

}
.fa-code{
    font-size: 20px;
    /* font-weight: 500; */
    color: white;
}

.fa-brain{
    font-size: 20px;
    /* font-weight: 500; */
    color: white;
}
.fa-chart-line{
    font-size: 20px;
    color: white;
}
.fa-robot{
    font-size: 20px;
    color: white;
}

.about-me-section .tech-stack .box p{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: white;
    font-size: 13px;
    width: 100%;
  

}
/* Tech stack section starts here */
.tech-stack-section{
    width: 100vw;
    height: 100vh;
    background-color: #060725;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tech-stack-section .header{
    height: 20%;
    width: 100%;
    text-align: center;
    
    
}

.tech-stack-section .header h1{
    font-size: 70px;
    font-family: "Poppins", sans-serif;
    color: white;
    padding-top: 2%;
}

.tech-stack-section .header h3{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: white;
  
}


.tech-stack-section .header h1 .me{
    background: linear-gradient(45deg,#124fde,#a75af9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}






.tech-stack-section .stack-collection{
    width: 50%;
    height: 70%;
    margin-top: 70px;
    margin-left: 60px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
   
}

.stack-collection img{
    border-radius: 10px;
    height: 90px;
    width: 90px;
    
}

/* Project section starts here */
.project-section{
    width: 100vw;
    height: 120vh;
    background-color: #060725;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-section .header{
    height: 20%;
    width: 100%;
    text-align: center;
    
    
}

.project-section .header h1{
    font-size: 70px;
    font-family: "Poppins", sans-serif;
    color: white;
    padding-top: 2%;
}

.project-section .header h3{
    /* font-size: 70px; */
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: white;
    /* padding-top: 5%; */
}


.project-section .header h1 .me{
    background: linear-gradient(45deg,#124fde,#a75af9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}






.project-section .stack-collection{
    width: 60%;
    height: 40%;
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.project-section .stack-collection .box{
    border-radius: 10px;
}

.project-section .stack-collection .box .img_area{
    height: 40%;
    width: 100%;
    background: linear-gradient(45deg,#124fde,#a75af9);
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 30px;
}
.project-section .stack-collection .box .lower_area{
    height: 60%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    color: white;
    background-color: #131e35;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 5px 5px;
    padding: 0px 10px 0px 10px;
}

.lower_area p{
    text-align: center;
}



/* Contact section starts here */
.contact-me-section{
    width: 100vw;
    height: 120vh;
    background-color: #060725;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-me-section .header{
    height: 20%;
    width: 100%;
    text-align: center;
   
    
}

.contact-me-section .header h1{
    font-size: 70px;
    font-family: "Poppins", sans-serif;
    color: white;
    padding-top: 2%;
}

.contact-me-section .header h3{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: white;
    
}


.contact-me-section .header h1 .me{
    background: linear-gradient(45deg,#124fde,#a75af9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.contact-me-section .form-container{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 80%;
    margin: 5%;
    align-items: center;
    border-radius: 10px;
    background-color:#10192e;
    box-shadow:  0 0 18px rgba(100, 3, 246, 0.5);
}
.contact-me-section .form-container .title{
    font-family: "Poppins", sans-serif;
    color: rgb(196, 196, 196);
    font-size: 25px;
    padding-top: 30px;
}
.contact-me-section .form-container form{
    color: wheat;
    width: 70%;
    height: 100%;
    font-family: "Poppins", sans-serif;
    color: rgb(196, 196, 196);
    font-size: 15px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    
}

.contact-me-section .form-container label{
    font-size: 16px;
    margin: 10px 0px 10px 0px;
}
.contact-me-section .form-container input{
    background-color: #131e35;
    border: 0.4px solid rgba(3, 145, 246, 0.095);
    font-size: 14px;
    height: 32px;
    padding: 15px 0px 15px 5px;
    color: white;
    border-radius: 4px;
}

.contact-me-section .form-container button{
    background: linear-gradient(45deg,#124fde,#a75af9);
    height: 40px;
    border: 0px;
    border-radius: 7px;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 17px;
}


#message-box{
    background-color: #131e35;
    border: 0.4px solid rgba(3, 145, 246, 0.095);
    height: 72px;
    padding: 5px 0px 2px 5px;
    color: white;
    border-radius: 4px;
    font-family: "Poppins", sans-serif;
    color: rgb(196, 196, 196);
    font-size: 14px;
}

.footer{
    height: 16vh;
    width: 100vw;
    background-color: #010818;


}

.footer h3{
    font-family: "Poppins", sans-serif;
    color: rgb(196, 196, 196);
    font-size: 15px;
    text-align: center;
    padding-top: 2%;
    word-spacing: 2px;
    font-weight: 450;
}

.footer h3 span{
    color:#124fde;
    font-weight: 600;
}

.footer h2{
    font-family: "Poppins", sans-serif;
    color: rgb(196, 196, 196);
    font-size: 13px;
    text-align: center;
    padding-top: 0.5%;
    word-spacing: 2px;
    font-weight: 450;
}

